@model SalesWebMVC.Models.SalesRecord

@{
    ViewData["Title"] = "Editar Status da Venda";
}

<h1>@ViewData["Title"]</h1>

<hr />

    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Date"/>
            <input type="hidden" asp-for="Amount" />
            <input type="hidden" asp-for="Seller.Id" />
            <dl class="row">
                <dt class = "col-sm-4">
                    Vendedor: 
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(x => x.Seller.Name)
                </dd>
                <dt class = "col-sm-4">
                    Data da venda:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.Date)
                </dd>
                <dt class = "col-sm-4">
                    Valor:
                </dt>
                <dd class = "col-sm-8">
                    @Html.DisplayFor(x =>x.Amount)
                </dd>
            </dl>
            <div class="form-group">
                <label asp-for="Status" class="control-label"><strong>Status</strong></label>
                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<SalesWebMVC.Models.Enums.SaleStatus>()"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="AllSales" asp-route-id="@Model.Seller.Id" class="btn btn-secondary">Voltar</a>
            </div>
        </form>
    </div>



